@import "../../styles/variables.scss";

.section {
  padding-block: 4rem 2.5rem;

  span {
    display: block;
  }

  h1 {
    font-size: 2em;
    line-height: 3rem;
    margin-bottom: 0.75rem;
  }

  p {
    line-height: 2.125rem;
    margin-bottom: 1.5rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
