---
import styles from "./Hero.module.scss";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<section class={styles.section}>
  <div class="container">
    <Fragment set:html={title} />
    <Fragment set:html={description} />
  </div>
</section>
