@import "../../../styles/variables.scss";

.name {
  color: $text-primary;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.description {
  font-size: 0.875rem;
}

.actions {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
  margin-top: 0.625rem;

  a {
    font-size: 0.875rem;
  }

  span {
    width: 12px;
    transform: rotate(119deg);
    border: 1px solid $bg-primary;
  }
}
