---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero/index.astro";
import Section from "@components/Section/index.astro";
import Projects from "@components/Projects/index.astro";
---

<Layout
  title="Bruno Aderaldo — Frontend Developer"
  description="Bruno Aderaldo is a Frontend Developer with over five years of experience building web-based applications with a focus on simplicity & usability."
>
  <main>
    <Hero
      title="I'm Bruno Aderaldo — Frontend Developer"
      description={`<p>With over five years of experience building web-based applications with a focus on simplicity & usability.</p>

      <p>Building unique experiences with Jamstack and server-side rendering at <strong>Bejamas</strong>.</p>`}
    />
    <Section
      title="Favorite tools"
      description="React, Next.js, TypeScript, HeadlessCMS, Node.js, Prisma."
    />
    <Projects />
  </main>
</Layout>
