---
import Layout from "@/layouts/Layout.astro";
import { Container, Heading } from "@/components/elements";
import { Hero } from "@/components";
---

<Layout
  seo={{
    title: "Bruno Aderaldo — Frontend Developer",
    description:
      "Bruno is a Frontend Developer with over five years of experience building web-based applications with a focus on simplicity & usability.",
  }}
>
  <Container as="main">
    <Hero
      title="Creating faster, more secure and more reliable websites with Jamstack."
    />

    <Heading as="h2">Find the latest of my writing here.</Heading>

    <Heading as="h2">Let’s work together.</Heading>

    <p>
      If you have a website or mobile app idea in mind or you need some advice,
      feel free to contact me.
    </p>

    <a href="mailto:hello@brunoaderaldo.com">hello@brunoaderaldo.com</a>
  </Container>
</Layout>
