---
import styles from "./Section.module.scss";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<section>
  <div class="container">
    <h2 class={styles.title}>{title}</h2>
    <p class={styles.description}>{description}</p>
  </div>
</section>
