---
import "@/base/styles/globals.scss";

import { SEO, Header } from "@/components";

const { seo } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <SEO seo={seo} />

    {
      import.meta.env.PROD && (
        <script async src="https://cdn.splitbee.io/sb.js" />
      )
    }
  </head>

  <body>
    <Header />
    <slot />
  </body>
</html>
